.column {
    height: 100%;
    background-color: #d3d3d3;
    padding: 0.25em;
    box-sizing: border-box;
    border-radius: 5px;
}

.header {
    margin-top: 0.35em;
    margin-bottom: 1.2em;
    font-weight: 500;
}

.ticket {
    margin-bottom: 0.25em;
}
