.ticket {
    box-shadow: 0px 0px 5px -2px #000000;
    border-radius: 3px;
    padding: 1em 0.825em;
    background-color: white;
}

.ticket__epic {
    margin: 0.85em 0;
}

.ticket-footer {
    display: flex;
    justify-content: space-between;
}

.ticket-footer__left, .ticket-footer__right {
    display: flex;
    align-items: center;
}

.ticket-footer__type, .ticket-footer__priority, .ticket-footer__story-points {
    margin-right: 0.45em;
}

.ticket-footer__priority {
    height: 19px;
}

.ticket-footer__avatar {
    margin-left: 0.35em;
}